# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\lauro\OneDrive - Universidad Tecmilenio\tarea\TECMILENIO\6to SEMESTRE\Computacion en Java\Actv7\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
